apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: polar-ingress
  labels:
    app: edge-service
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: edge-service
                port:
                  number: 80
          - path: /login/oauth2/code/keycloak
            pathType: ImplementationSpecific
            backend:
              service:
                name: edge-service
                port:
                  number: 80