services:
  configuration-service:
    container_name: configuration-service
    image: configuration-service
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - SPRING_PROFILE_ACTIVE=test-data
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=9888
    ports:
      - "8888:8888"
      - "9888:9888"
    networks:
      - agenda

  catalog-service:
    container_name: catalog-service
    image: catalog-service
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/polar-bookstore
      - SPRING_PROFILES_ACTIVE=test-data
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8001
      - SPRING_CLOUD_CONFIG_URI=http://configuration-service:8888
    ports:
      - "8001:8001"
      - "9001:9001"
    networks:
      - agenda
    depends_on:
      - configuration-service
      - postgres

  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: polar-bookstore
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - agenda
    restart: unless-stopped

networks:
  agenda:
    driver: bridge

volumes:
  postgres:
    driver: local