services:
  configuration-service:
    container_name: configuration-service
    image: configuration-service
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=9888
    ports:
      - "8888:8888"
      - "9888:9888"
    networks:
      - agenda

  edge-service:
    container_name: edge-service
    image: edge-service
    environment:
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8000
      - SPRING_CLOUD_CONFIG_URI=http://configuration-service:8888
      - CATALOG_SERVICE_URL=http://catalog-service:9001
      - ORDER_SERVICE_URL=http://order-service:9002
      - SPA_URL=http://polar-store-ui:4200
      - SPRING_REDIS_HOST=edge-redis
      - SPRING_REDIS_PASSWORD=password
      - SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI=http://polar-keycloak:8080/realms/PolarBookshop
    ports:
      - "8000:8000"
      - "9000:9000"
    networks:
      - agenda
    depends_on:
      - edge-redis
      - configuration-service

  dispatcher-service:
    container_name: dispatcher-service
    image: dispatcher-service
    environment:
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8003
      - SPRING_CLOUD_CONFIG_URI=http://configuration-service:8888
    ports:
      - "8003:8003"
      - "9003:9003"
    networks:
      - agenda
    depends_on:
      - polar-rabbitmq
      - configuration-service

  catalog-service:
    container_name: catalog-service
    image: catalog-service
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/polar_bookstore
      - SPRING_PROFILES_ACTIVE=test-data
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8001
      - SPRING_CLOUD_CONFIG_URI=http://configuration-service:8888
    ports:
      - "8001:8001"
      - "9001:9001"
    networks:
      - agenda
    depends_on:
      - configuration-service
      - postgres

  order-service:
    container_name: order-service
    image: order-service
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - SPRING_DATASOURCE_URL=r2dbc:postgresql://postgres:5432/polar_orders
      - SPRING_PROFILES_ACTIVE=test-data
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8002
      - SPRING_CLOUD_CONFIG_URI=http://configuration-service:8888
    ports:
      - "8002:8002"
      - "9002:9002"
    networks:
      - agenda
    depends_on:
      - configuration-service
      - postgres

  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
    volumes:
      - ./postgres-init/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - agenda
    restart: unless-stopped

  edge-redis:
    image: redis
    container_name: edge-redis
    ports:
      - "6379:6379"
    networks:
      - agenda

  polar-rabbitmq:
    container_name: polar-rabbitmq
    image: rabbitmq:3.11.8-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - agenda

  polar-keycloak:
    container_name: polar-keycloak
    image: polar-keycloak
    build:
      context: keycloak
      dockerfile: Dockerfile
    command:
      - start-dev
      - --import-realm
    environment:
      - KEYCLOAK_ADMIN=username
      - KEYCLOAK_ADMIN_PASSWORD=password
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - agenda

  polar-store-ui:
    container_name: polar-store-ui
    image: polar-store-ui
    build:
      context: store-ui/polar-store-ui
      dockerfile: Dockerfile
    mem_limit: 1024m
    ports:
      - "4200:4200"
    networks:
      - agenda

networks:
  agenda:
    driver: bridge