spring:
  application:
    name: dispatcher-service
  lifecycle.timeout-per-shutdown-phase: 15s
  config.import: "optional:configserver:"
  cloud:
    config:
      uri: "http://configuration-service:8888"
      request-connect-timeout: 5000
      request-read-timeout: 5000
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
    function:
      definition: pack|label
    stream:
      bindings:
        packlabel-in-0:
          destination: order-accepted
          group: ${spring.application.name}
        packlabel-out-0:
          destination: order-dispatched
  rabbitmq:
    host: localhost
    port: 5672
    username: username
    password: password
    connection-timeout: 5s

app:
  version: "api-v1"