apiVersion: apps/v1
kind: Deployment
metadata:
  name: polar-store-ui
  labels:
    app: polar-store-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: polar-store-ui
  template:
    metadata:
      labels:
        app: polar-store-ui
    spec:
      containers:
        - name: polar-store-ui
          image: polar-store-ui
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 5" ]
          ports:
            - containerPort: 4200