apiVersion: v1
kind: ServiceAccount
metadata:
  name: polar-rabbitmq
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: polar-rabbitmq
rules:
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - list
      - watch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: polar-rabbitmq
  namespace: polar
subjects:
  - kind: ServiceAccount
    name: polar-rabbitmq
    namespace: polar
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: polar-rabbitmq
